body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
    
}

.container{

}

.header {
    background-color:#1f2937;
    color:#e5e7eb;
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    
}

.logo{
    font-size: 18px;
    font-weight: bold;
}

.banner {
    background-color:#1f2937;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 60px;
}


.banner-title {
    
    color:#F9FAF8;
    font-size: 48px;
    font-weight: bolder;

}

.banner-text{
    color:#E5E7EB;
    font-size: 16px;
}

button {
    color:#F9FAF8;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    
    border: none;
    border-radius: 5px;
    background: #3882f6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
  }

.info-title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;

}

.container2 {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
    color: #1f2937;
}

.info img{
    
    border: 4px solid #3882f6;
    border-radius: 10px;
}


.quotes {

}

.footer {

}

a:link {
    color:#e5e7eb;
    text-decoration: none
}
a:visited {
    color:#e5e7eb;
    text-decoration: none
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
   
}
li {
    
    
}