body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
    
}

.container{

}

.header {
    background-color:#1f2937;
    color:#e5e7eb;
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.logo{
    font-size: 18px;
    font-weight: bold;
}

.banner {
    background-color:#1f2937;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 60px;
}


.banner-title {
    
    color:#F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.banner-text{
    color:#E5E7EB;
    font-size: 16px;
    margin-bottom: 10px;
}

.banner button {
    color:#F9FAF8;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: #3882f6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    
  }

.info-title{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;

}

.container2 {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
    color: #1f2937;
}

.info img{
    border: 4px solid #3882f6;
    border-radius: 10px;
}


.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-top: 75px;
    padding-bottom: 75px;
    
}

.quote-block {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: auto;
}
.quote-text {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;    
}

.quote-author {
    font-size: 22px;
    display: flex;
    font-weight: bold;
    justify-content: flex-end;
}

.call {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: auto;

    
}

.call-mid {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 10px;
    gap: 150px;

    align-items: center;
    align-content: center;
}

.call-title {

    font-size: 22px;
    font-weight: bold;
    color:#F9FAF8;
}

.call-text {

    font-size: 18px;
    color:#e5e7eb;
    font-weight: normal;
    
}

.call button {
    
    color:#E5E7EB;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    border: solid;
    border-radius: 5px;
    background: #3882f6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: #E5E7EB;
  }

.footer {
    font-size: 20px;
    background-color:#1f2937;
    color:#e5e7eb;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

a:link {
    color:#e5e7eb;
    text-decoration: none
}
a:visited {
    color:#e5e7eb;
    text-decoration: none
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
li {
    
    
}